.project-cards-container {
    flex-direction: row;
    flex: 1;

}

.projects__svg-container {
    overflow: hidden;
    /* background-color: lightblue;  */
    position: relative;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(217, 29, 203, 1) 0%, rgba(111, 0, 255, 1) 90%);
}

.project-cards {
    display: flex;
    max-width: auto;
    flex-wrap: wrap;
    margin-bottom: 275px;
    margin-left: 15px;




}

.card {
    margin: 15px 15px 0 0;
    width: 30rem;

}



.card-img {
    justify-content: center;
    align-self: center;
    max-width: 50%;
    margin-top: 20px;
    border-radius: .2;
}

.projects__card-title {
    color: grey;
}

.projects__card-text {
    font-size: 16px;
    justify-content: center;
    color: grey;
}

.right-side {
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;



}




.left-side-projects {
    flex-direction: column;
    flex: 0.2;
}


.custom-shape-divider-bottom-1612571397 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1612571397 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.9px);
    height: 180px;

    /* min-height: 60vh; */
}

.custom-shape-divider-bottom-1612571397 .shape-fill {
    
    /* color at bottom of page */
    
    fill: #C092FF;
}