.card {
    margin-bottom: 15px;

}


/* 
add in a new name for projects, so it wont 
get confused with the other css names */


 /* .right-side{
    height: 100vh;
  
}

.left-side{
    height: 100vh;

} */

