
.edu__container{
    background-color: navy;
}

.edu__header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.edu__school {
    font-size: 20px;
}

.edu__desc {
    font-size: 18px;
    font-weight: 300;
}

.edu__info-container{
   
    height: 100vh;
    margin-left: 20px;
    margin: 0 20px 1000px 20px;
}

