.right-side{
    height: 100vh;
  
}

.left-side{
    height: 100vh;
   
}


.left-side {
    display: flex;
    flex-direction: column;
    flex: 0.2;
    /* height: 100vh; */
}


.link {
    display: flex;
    text-decoration: none !important;
    transition: 0.3s;
    font-size: 20px;
}

.link:hover {
    display: flex;
    /* justify-content: flex-end !important; */
    /* background-color: white; */
    color: #B014DF !important;
    border-radius: 25px;
}

.link:active {
    color: #B014DF !important;
}


/* @media (min-width: 50px) {
 
    nav.navbar{
        display: none;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 50px;     
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
      
        height: 50px;     
    }

} */
