

 /* .right-side{
    height: 100vh;
  
}

.left-side{
    height: 100vh;
   
}

.sidebar__container{
    display: flex;
    flex-direction: column !important;
}

.sidenav__links{
    display: flex;
    flex-direction: column !important ;
}


.left-side {
    display: flex;
    flex-direction: column;
    flex: 0.2;
   
}


.link {
    display: flex;
    text-decoration: none !important;
    transition: 0.3s;
    font-size: 20px;
}

.link:hover {
    display: flex;
    color: #B014DF !important;
    border-radius: 25px;
}

.link:active {
    color: #B014DF !important;
}  */


/* @media (min-width: 50px) {
 
    nav.navbar{
        display: none;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 50px;     
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
      
        height: 50px;     
    }

} */



