.right-side{
    height: 100vh;
  
}

.left-side{
    height: 100vh;

}



.left-side {
    display: flex;
    flex-direction: column;
    flex: 0.2;
    /* height: 100vh; */
}



.link {
    display: flex;
    text-decoration: none !important;
    transition: 0.3s;
    font-size: 20px;
}

.link:hover {
    display: flex;
    justify-content: flex-end !important;
    /* background-color: white; */
    color: greenyellow !important;
    border-radius: 25px;
}