* {
  font-family: Roboto, "Segoe UI", sans-serif;
  color: white;
}


body {
  box-sizing: border-box;
  margin: 0px;
}

:root{
  --theme-hover-color: #022b3a;
  --theme-background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(217, 29, 203, 1) 0%, rgba(111, 0, 255, 1) 90%);
  --theme-secondary-color: navy;

  /* --master-background-color: blue; */



  
}